.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: var(--purple-500);
  color: var(--white);
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  font-size: 1.6rem;

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }

  &.outlined {
    background: var(--white);
    border: 1px solid var(--purple-500);
    color: var(--purple-500);
  }

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
