.modal {
  overflow: hidden;
  max-width: 590px;
  border-radius: 8px;
  margin: 0 auto;
  position: absolute;
  background: var(--white);
  width: 100%;
  padding: 65px 0;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      width: 48px;
      height: 48px;

      path {
        stroke: var(--red-500);
      }
    }

    h2 {
      font: 700 2.4rem "Poppins", sans-serif;
      color: var(--black);
      margin-bottom: 12px;

      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    span {
      font: 400 1.6rem "Roboto", sans-serif;
      color: var(--gray-300);
      margin-bottom: 40px;

      @media (max-width: 768px) {
        font-size: 1.4rem;
        text-align: center;
      }
    }

    .modal-actions {
      display: flex;
      flex-direction: row;
      gap: 10px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 8px;
        padding: 13px 35px;
        font: 500 1.6rem "Roboto", sans-serif;
        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }

        &.btn-cancel {
          background: var(--gray-100);
          color: #737380;
        }

        &.btn-delete {
          background: var(--red-500);
          color: var(--white);
        }
      }
    }
  }
}

.modalOverlay {
  background-color: rgba(5, 2, 6, 0.8);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
