* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
}

:root {
  --primary: #f8f8f8;
  --secondary: #29292e;

  --white: #fff;
  --black: #29292e;

  --light: var(--white);
  --dark: var(--black);

  --gray-50: #f8f8f8;
  --gray-100: #dbdcdd;
  --gray-200: #a8a8b3;
  --gray-300: #737380;

  --red-500: #e73f5d;
  --red-600: #d73754;

  --purple-500: #835afd;
  --purple-600: #6f4bd8;

  --pink-light: #d67ee2;
  --pink-dark: #e559f9;
}

body {
  background-color: var(--light);
  color: var(--dark);
  transition: background-color 0.25s;

  &.dark {
    --light: #333;
    --dark: #f8f8f8;

    background-color: var(--light);
    color: var(--dark);
  }
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
