.page-room {
  main {
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 0 15px;
    }

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 2.4rem;
        color: var(--dark);

        @media (max-width: 768px) {
          font-size: 1.6rem;
        }
      }

      span {
        margin-left: 16px;
        background: var(--pink-dark);
        border-radius: 9999px;
        padding: 8px 16px;
        color: var(--light);
        font-weight: 500;
        font-size: 1.4rem;

        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: var(--white);
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .button {
          @media (max-width: 768px) {
            width: 100%;
          }
        }

        .user-info {
          display: flex;
          align-items: center;

          @media (max-width: 768px) {
            margin-bottom: 10px;
          }

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: var(--dark);
            font-weight: 500;
            font-size: 1.4rem;
          }
        }

        > span {
          font-size: 1.4rem;
          color: var(--gray-300);
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: var(--purple-50);
            text-decoration: underline;
            font-size: 1.4rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }

    .whitout-questions {
      max-width: 300px;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 150px;

      @media (max-width: 768px) {
        margin-top: 50px;
      }

      img {
        margin-bottom: 16px;
      }

      h1 {
        font: 600 1.8rem "Poppins", sans-serif;
        color: var(--dark);
        margin-bottom: 8px;

        @media (max-width: 768px) {
          font-size: 1.6rem;
        }
      }

      p {
        font: 400 1.4rem "Roboto", sans-serif;
        color: var(--gray-300);
        line-height: 21px;

        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
