header {
  padding: 24px;
  border-bottom: 1px solid #e2e2e2;

  .content {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .header-content-logo {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      @media (max-width: 768px) {
        width: 100%;
      }

      > svg {
        max-height: 45px;
        width: 100px;
      }

      .toggle-theme-mobile {
        display: none;

        @media (max-width: 768px) {
          display: block;
        }
      }
    }

    .toggle-theme-desktop {
      display: flex;

      @media (max-width: 768px) {
        display: none;
      }
    }

    > div {
      display: flex;
      gap: 16px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      button {
        &:not(.toggle-btn) {
          height: 40px;

          @media (max-width: 768px) {
            margin-top: 15px;
          }
        }

        &.toggle-btn {
          @media (max-width: 768px) {
            align-self: flex-end;
          }
        }
      }
    }
  }
}
