.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    border: 1px solid var(--purple-500);
    background: #f4f0ff;

    footer {
      .user-info {
        span {
          color: var(--black);
        }
      }
    }
  }

  &.answered {
    background: var(--gray-100);
  }

  p {
    color: var(--black);
    font-size: 1.6rem;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: var(--gray-300);
        font-size: 1.4rem;

        @media (max-width: 768px) {
          font-size: 1.2rem;
          margin-left: 0;
        }
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--gray-300);
        gap: 8px;

        &.liked {
          color: var(--purple-500);

          svg path {
            stroke: var(--purple-500);
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
